* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  
}

body {
  background-color: darkslateblue;
}

.Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Page * {
  font-family: Arial, Helvetica, sans-serif;
}

.Page p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.btns {
  display: flex;
  justify-content: center;
}

.Page button {
  width: 8%;
  font-size: 18px;
  margin: 5px;
  padding: 4px;
  background: none;
  border: black 2px solid;
  color: black;
}

.Page button:hover {
  background: black;
  color: white;
}

.btn-nextPage {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-nextPage:hover {
  cursor: pointer;
}

// Cropper
.Cropper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input-foto {
  display: flex;
  
  input{
    align-self: center;
  }
}

#output {
  
}